@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;

}
body{
    background-image: url(./img/vecteezy_abstract-background-for-landing-page-or-presentation_11976753.png);
    color: white;
    /* position: fixed; */

}
/* .mainContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */
nav{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: ; */
}
.navbar{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}
.logo a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style:normal;
    color: black;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li{
    list-style: none;
    margin: 6px;
}
.menu li a{
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  /* color: white; */
}
menu li a:hover{
    background-color: blue;
    transition: background-color 2s ease-in-out;
}
.button .signUp{
    margin: 5px;
    border-radius: 8px;
    height: 40px;
    width: 80px;
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.mainSection{
    /* background-image: url(./img/bgBody.jpg); */
    display: grid;
    grid-template-columns: 1fr 1fr; 
  grid-gap: 10px;
  place-items: center;
  height: 40rem;
}
.imageContent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.smallheading{
    font-family: "Poetsen One", sans-serif;
    color: black;
    font-weight: 400;
    font-style: normal; 
   margin-bottom: 20px;
}
.signUp:hover{
    background-color: black;
    transition: background-color 2s ease-in-out;
    color: white;
}
.BigHeading{
    font-family: "Poetsen One", sans-serif;
    color: black;
    font-weight: 400;
    font-style: normal; 
}
.smallContent{
    font-family: "Poetsen One", sans-serif;
    color: black;
    font-weight: 400;
    font-style: normal; 

}
.ml12 {
    font-weight: 200;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-top: 2rem;
    margin-left:10rem ;

  }
  
  .ml12 .letter {
    display: inline-block;
    
  }
  .mainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
.contact .btn{
    height: 34px;
    width: 80px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.contact .btn:hover{
    /* cursor: pointer; */
    background-color: black;
    transition: background-color 2s ease-in-out;
    color: white;
}